.App {
  background-color: #e1e8f0;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 20vmin;
  border-radius: 2px;
}


.booksBody {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.bookCard {
  width: 250px;
  text-align: center;
  word-wrap: normal;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
}

.bookThumbnail:hover {
  width: 175px;
  height: 225px;
}

.bookThumbnail {
  border-radius: 2px;
  width: 150px;
  height: 200px;
}


.navBar {
  display: flex;
  justify-content: center;
  background-color: #3a4660;
}

.BookShow {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #e1e8f0;
}

.showImage {
  border-radius: 2px;
  width: 300px;
  height: 360px;
  padding: 20px;
}

input {
  border-radius: 2px;
  width: 400px;
  height: 25px;
  margin: 10px;
  background-color: #e1e8f0;
  font-family: 'Roboto', sans-serif;
}

#navBarButton {
  border-radius: 2px;
  margin-top: 30px;
  margin-left: 30px;
  height: 30px;
  width: 200px;
}

button {
  border-radius: 2px;
  margin: 20px;
  width: 200px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
}

.profileIcon {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileImage {
  height: 100px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Fjalla One', serif;
}
