
.App {
}

#logo {
  padding-bottom: 70px;
  padding-left: 20px;
  font-size: 40px;
}

#logo:hover {
  color: white;
}

.booksBody {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* .pageBody {
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
} */

#pagination {
  margin: 20px;
}

.bookCard {
  width: 250px;
  text-align: center;
  word-wrap: normal;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  color: white;
  /* font-style: italic; */
}

.bookThumbnail:hover {
  opacity: .8;
}

.bookThumbnail {
  border-radius: 2px;
  width: 180px;
  height: 240px;
}


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 150px;
  /* opacity: .80; */
}

.bookShow {
  border-radius: 2px;
  margin: 50px;
  padding: 20px;
  /* display: flex; */
  /* justify-content: space-around;    */
  background: white;
  opacity: .80;
}

.showImage {
  border-radius: 2px;
  width: 180px;
  height: 240px;
  margin: 20px;
}

.showImage:hover {
  transform: scale(1.5);
}

input {
  border-radius: 2px;
  width: 400px;
  height: 25px;
  margin: 10px;
  /* background-color: #e1e8f0; */
  background-color: white;
  /* font-family: 'Didact Gothic', sans-serif;   */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#navBarButton {
  border-radius: 2px;
  margin-top: 30px;
  margin-left: 30px;
  height: 30px;
  width: 200px;
}

button {
  border-radius: 2px;
  margin: 20px;
  width: 200px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.profileIcon {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileIcon:hover {
  color: white;
}

.profileImage {
  height: 100px;
}

.commentContainer {
  display: flex;
  justify-content: center;
}

.comment {
  border-radius: 2px;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  width: 500px;
  font-style: italic;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
 /* font-family: 'Fjalla One', serif; */
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
}
