body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;
  color: #1F3044;
  font-size: 19px;
  background: white;
  -moz-background-size: 100%;
   -o-background-size: 100%;
   -webkit-background-size: 100%;
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
