body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* font-weight: 500; */
  /* background:#88B7B5; */
  background: white;
  background-image: url('https://c1.staticflickr.com/6/5524/30628679132_ca19d26013_b.jpg');
  -moz-background-size: 100%;
   -o-background-size: 100%;
   -webkit-background-size: 100%;
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}


#stretch {

}
