body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  color: #1F3044;
  font-size: 18px;
  /* background:#88B7B5; */
  background: white;
  /* background-image: url('https://c1.staticflickr.com/6/5524/30628679132_ca19d26013_b.jpg'); */
  -moz-background-size: 100%;
   -o-background-size: 100%;
   -webkit-background-size: 100%;
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
